/* h1{
    color:red;
} */
#heading{
    background-image: url('images/hotel/foodWallpaper.png');
    background-repeat: no-repeat;
    background-size: cover;
    color:whitesmoke;
    width:100%;
    height:450px;
    /* border:2px solid green; */
    font-size:20px;
    border-radius:10px;
    background-size: 100% 450px;
}
#logo>img {
    border-radius: 50%;
    width: 175px;
    height: 175px;
}
#logo{
    animation:movelogo 10s infinite;
}
@keyframes movelogo{
    0% {margin-left:80%}
    100%{margin-left:0%}
}
#main-container{
    max-width:80%;
    max-height:430px;
    margin-top:2%;
    margin-left:12%;
}
.tilecomponent{
    display:inline-block;
    width:300px;
    height:300px;
    /* border:1px solid black; */
    margin:15px;
    background-color: #16ac97a8;
    box-shadow:6px 6px 6px black;
}
.tilecomponent:hover{
    transform:scale(1.1);
    cursor:pointer;
}
.imgdiv{
    /* border:1px solid red; */
    width:300px;
    height:200px;
}
.imgdiv>img{
    width:100%;
    height:100%;
}
.title div{
    /* display:inline-block; */
    background-color:gray;
}
.title h3{
font-size:2rem;
text-align:center;
color:rebeccapurple;
}
#city{
    margin-left:27%;
}
select{
    font-size:25px;
    width:350px;
    height:40px;
}
