body{
    margin:auto;
    background-color: black;
}
.container{
    display:flex;
    justify-content:center;
}
#calc{
    margin-top:5%;
    width:400px;
    height:400px;
    border-radius:8px;
    background-color:#a54d4d3b;
    color:white;
    box-shadow:8px 8px 8px white;
}
.output{
    color:white;font-size: 18px;
}
.inputs{
    font-size:18px;
    margin:15%;
    width:60%
}
.function{
    margin-left:20%;
}
.btn{
    margin-left:2%;
}
.clear{
    margin-left:22%;
    margin-top:4%;
}